<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Meme Gif</title>
    <link rel="stylesheet" type="text/css" href="/static/css/censor.css">
</head>
<body>
    <h1>Meme Gif</h1>
    <div class="container">
        <div class="pic_data">
            <ul id="imageList">
                {% for item in images %}
                <li><img src="data:image/png;base64,{{item}}" alt="img"></li>
                {% endfor %}
            </ul>
            <div class="progress-bar">
                <div id="all-progress">
                    <div id="current-progress">
                        <span id="progress-button"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu_panel">
            <button id="insertButton" onclick="insertClick()">点击在此处插入字幕</button>
            <button id="submitMeme" onclick="submitMeme()">生成GIF</button>
            <ul id="subtitleList"></ul>
            <div id="generatedGif"><img></div>
        </div>
    </div>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/censor.js"></script>
</body>
</html>
