{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Meme Gif</title>
    <link rel="stylesheet" type="text/css" href="/static/css/censor.css">
</head>
<body>
    <h1>Meme Gif</h1>
    <ul id="imageList">
        {% for item in images %}
        <li><img src="data:image/png;base64,{{item}}"></li>
        {% endfor %}
    </ul>
    <div class="progress-bar">
        <div id="all-progress">
            <div id="current-progress">
                <span id="progress-button"></span>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/censor.js"></script>
</body>
</html>
