ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 1000px;
}

.pic_data {
    float: left;
    width: 600px;
}

.pic_data li {
    display: none;
}

#imageList img {
    width: 600px;
}

.menu_panel {
    float: right;
    width: 360px;
    padding: 20px;
}

.subtitle_item {
    width: 100%;
    margin-top: 20px;
}

.subtitle_item > input {
    width: 100%;
}

#generatedGif {
    width: 100%;
    margin-top: 20px;
}

#generatedGif > img {
    display: none;
}

.progress-bar {
    margin: 0 auto;
    width: 600px;
}

#all-progress {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
    border-radius: 10px;
    height: 10px;
    background-color: #edca13;
    overflow: visible;
}

#current-progress {
    width: 0;
    border-radius: 10px;
    height: 10px;
    background-color: #124f5a;
}

#progress-button {
    width: 20px;
    height: 20px;
    top: -5px;
    left: 10px;
    display: block;
    background-color: #0a6ebd;
    border-radius: 10px;
    position: relative;
    float: right;
}
